@model JordanRift.Grassroots.Web.Models.PasswordAdminModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //

    var title = string.Format("Updating password for {0} {1}", Model.FirstName, Model.LastName);
    ViewBag.Title = title;
}

@section DocumentHead
{
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>@title</h1>
</hgroup>
<section class="change-password">
    @using (Html.BeginForm("SavePassword", "User"))
    {
        @Html.AntiForgeryToken(salt: "AdminChangePassword")
        @Html.HiddenFor(m => m.UserProfileID)
        @Html.ValidationSummary(false, "Unable to change password. Please correct the following errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <fieldset>
            <legend>Change Password</legend>
            <dl>
                <dt>@Html.LabelFor(m => m.Password)</dt>
                <dd>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.ConfirmPassword)</dt>
                <dd>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
            </dl>
            <div class="check-box">
                @Html.CheckBoxFor(m => m.ForcePasswordChange)
                @Html.LabelFor(m => m.ForcePasswordChange)
            </div>
        </fieldset>
        <div>
            @Html.UiSubmit("Change Password")
            @Html.ActionLink("Cancel", "Admin", new { controller = "UserProfile", id = Model.UserProfileID, area = "" }, new { title = "Cancel", @class = "cancel" })
        </div>
    }
</section>