@model IEnumerable<JordanRift.Grassroots.Web.Models.CauseTemplateDetailsModel>
				
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = "CauseTemplateList";
}

<hgroup>
    <h1>Project Templates</h1>
</hgroup>
<!-- layout to be replaced later -->
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
            <th>
                Goal Name
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionVerb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalName)
            </td>
            <td>
				@Html.ActionLink("Edit", "EditCauseTemplate", new { id=item.CauseTemplateID })
            </td>
        </tr>
}
    </tbody>
</table>
@Html.ActionLink("Create New", "CreateCauseTemplate" )
