@model JordanRift.Grassroots.Web.Models.OrganizationDetailsModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //

    ViewBag.Title = "Application Settings";
}
@section DocumentHead 
{
    @Html.Partial("UIForm")
}
<hgroup>
    <h1>Edit Your Orgazation Settings</h1>
</hgroup>
<div id="organization-edit-form">
    @using (Html.BeginForm("UpdateOrganization", "Admin")) {
        @Html.ValidationSummary(false, "Please correct the errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <section class="column">
            <fieldset>
                <legend>Organization Settings</legend>
                <dl>
                    <dt>@Html.LabelFor(m => m.Name)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.Tagline)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.Tagline)
                        @Html.ValidationMessageFor(m => m.Tagline, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
					<dt>@Html.LabelFor(m => m.PublicWebsiteUrl)</dt>
                    <dd>
                        @Html.TextBoxFor( m => m.PublicWebsiteUrl )
                        @Html.ValidationMessageFor(m => m.PublicWebsiteUrl, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
					<dt>@Html.LabelFor(m => m.PublicAboutPageUrl)</dt>
                    <dd>
                        @Html.TextBoxFor( m => m.PublicAboutPageUrl )
                        @Html.ValidationMessageFor(m => m.PublicAboutPageUrl, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.PublicServicesPageUrl)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.PublicServicesPageUrl)
                        @Html.ValidationMessageFor(m => m.PublicServicesPageUrl, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.ContactEmail)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.ContactEmail)
                        @Html.ValidationMessageFor(m => m.ContactEmail, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.ContactPhone)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.ContactPhone)
                        @Html.ValidationMessageFor(m => m.ContactPhone, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.YtdGoal)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.YtdGoal)
                        @Html.ValidationMessageFor(m => m.YtdGoal, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.FiscalYearStartMonth)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.FiscalYearStartMonth)
                        @Html.ValidationMessageFor(m => m.FiscalYearStartMonth, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.FiscalYearStartDay)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.FiscalYearStartDay)
                        @Html.ValidationMessageFor(m => m.FiscalYearStartDay, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                </dl>
            </fieldset>
            <fieldset>
                <legend>Social Network Settings</legend>
                <dl>
                    <dt>@Html.LabelFor(m => m.FacebookPageUrl)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.FacebookPageUrl)
                        @Html.ValidationMessageFor(m => m.FacebookPageUrl, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.TwitterName)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.TwitterName)
                        @Html.ValidationMessageFor(m => m.TwitterName, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.BlogRssUrl)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.BlogRssUrl)
                        @Html.ValidationMessageFor(m => m.BlogRssUrl, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                </dl>
            </fieldset>
        </section>
        <section class="column">
            <fieldset>
                <legend>Payment Gateway Settings</legend>
                <dl>
                    <dt>@Html.LabelFor(m => m.PaymentGatewayType)</dt>
                    <dd>
                        @Html.EditorFor(m => m.PaymentGatewayType)
                        @Html.ValidationMessageFor(m => m.PaymentGatewayType, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.PaymentGatewayApiUrl)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.PaymentGatewayApiUrl)
                        @Html.ValidationMessageFor(m => m.PaymentGatewayApiUrl, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.PaymentGatewayApiKey)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.PaymentGatewayApiKey)
                        @Html.ValidationMessageFor(m => m.PaymentGatewayApiKey, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.PaymentGatewayApiSecret)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.PaymentGatewayApiSecret)
                        @Html.ValidationMessageFor(m => m.PaymentGatewayApiSecret, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                </dl>
            </fieldset>
            <fieldset>
                <legend>Content Settings</legend>
                <dl>
                    <dt>@Html.LabelFor(m => m.ThemeName)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.ThemeName)
                        @Html.ValidationMessageFor(m => m.ThemeName, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                    <dt>@Html.LabelFor(m => m.VideoEmbedHtml)</dt>
                    <dd class="textarea">
                        @Html.ValidationMessageFor(m => m.VideoEmbedHtml, null, new { @class = "ui-state-error ui-corner-all" })
                        @Html.TextAreaFor(m => m.VideoEmbedHtml)
                    </dd>
                    <dt>@Html.LabelFor(m => m.SummaryHtml)</dt>
                    <dd class="textarea">
                        @Html.ValidationMessageFor(m => m.SummaryHtml, null, new { @class = "ui-state-error ui-corner-all" })
                        @Html.TextAreaFor(m => m.SummaryHtml)
                    </dd>
                    <dt>@Html.LabelFor(m => m.DescriptionHtml)</dt>
                    <dd class="textarea">
                        @Html.ValidationMessageFor(m => m.DescriptionHtml, null, new { @class = "ui-state-error ui-corner-all" })
                        @Html.TextAreaFor(m => m.DescriptionHtml)
                    </dd>
                    <dt>@Html.LabelFor(m => m.NavigationHtml)</dt>
                    <dd class="textarea">
                        @Html.ValidationMessageFor(m => m.NavigationHtml, null, new { @class = "ui-state-error ui-corner-all" })
                        @Html.TextAreaFor(m => m.NavigationHtml)
                    </dd>
                    <dt>@Html.LabelFor(m => m.HomePageHtml)</dt>
                    <dd class="textarea">
                        @Html.ValidationMessageFor(m => m.HomePageHtml, null, new { @class = "ui-state-error ui-corner-all" })
                        @Html.TextAreaFor(m => m.HomePageHtml)
                    </dd>
                    <dt>@Html.LabelFor(m => m.FooterHtml)</dt>
                    <dd class="textarea">
                        @Html.ValidationMessageFor(m => m.FooterHtml, null, new { @class = "ui-state-error ui-corner-all" })
                        @Html.TextAreaFor(m => m.FooterHtml)
                    </dd>
                </dl>
            </fieldset>
        </section>
        <div>
            @Html.UiSubmit("Save")
            @Html.ActionLink("Cancel", "Index", new { controller = "Admin", area = "" }, new { title = "Cancel", @class = "cancel" })
        </div>
    }
</div>