@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
}
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/" class="no-js">
    <head>
        <title>@OrganizationName - @ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        
        <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
        @Html.Action("ThemeCss", new { controller = "Home" })

        <script src="@Url.Content("~/Scripts/jquery-1.5.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/grassroots.core.js")" type="text/javascript"></script>

        <link type="image/vnd.microsoft.icon" href="@Url.Content("~/Content/Images/avatar.jpg")" rel="shortcut icon">
        
        @RenderSection("DocumentHead", required: false)

        @if (!string.IsNullOrEmpty(@AnalyticsTrackingCode)) {
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '@AnalyticsTrackingCode']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        }
    </head>
    <body>
        <div class="page">
            <header>
                <hgroup>
                    <h1><a href="@Url.Action("Index", new { controller = "Home" })" title="@OrganizationName">@OrganizationName</a></h1>
                    <h2>@OrganizationTagline</h2>
                </hgroup>
                <section class="user-info">
                    @Html.Partial("LogOnUserControl")
                </section>
                <nav>
                    @Html.Action("MainNavigation", "Home")
                </nav>
            </header>
            <section id="main">
                @Html.Partial("UserFeedback")
                @RenderBody()
                <div class="break"></div>
            </section>
            <footer>
                @Html.Partial("Footer")
            </footer>
        </div>
        @RenderSection("DocumentBottom", required: false)
    </body>
</html>