@model JordanRift.Grassroots.Web.Models.DonationDetailsModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
}
<p>Your donation will be applied toward <strong>@Model.Title</strong>, benefitting @OrganizationName.</p>

<table>
    <tbody>
        <tr>
            <td>Donation From:</td>
            <td>
                @Model.FirstName @Model.LastName<br />
                @Model.AddressLine1
                @if (!string.IsNullOrEmpty(Model.AddressLine2)) {
                <br />@Model.AddressLine2
                }
                <br />@Model.City, @Model.State @Model.ZipCode
            </td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td>@Model.Amount.ToString("C")</td>
        </tr>
        <tr>
            <td>Payment Method:</td>
            <td>@Model.PaymentType</td>
        </tr>
        <tr>
            <td>Gift Date:</td>
            <td>@Model.DonationDate.ToShortDateString()</td>
        </tr>
    </tbody>
</table>

<p>@OrganizationName is a registered 501(c)3. 100% of your donation is tax deductible.</p>