@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
}
                <ul id="menu">
                @if ( string.IsNullOrEmpty( PublicAboutPageUrl) ) {
					<li>@Html.ActionLink( "Who We Are", "About", new { Controller = "Home", Area = "" }, new { title = "Who We Are" } )</li>					 
				} else {
					<li><a title="Who We Are" href="@PublicAboutPageUrl" >Who We Are</a></li> 
				}
                @if (string.IsNullOrEmpty(PublicServicesPageUrl)) {
                    <li>@Html.ActionLink("What We Do", "Index", new { Controller = "CauseTemplate", Area = "" }, new { title = "What We Do" })</li>
                } else {
                    <li><a title="What We Do" href="@PublicServicesPageUrl" >What We Do</a></li>
                }
                    <li class="new-campaign">@Html.ActionLink("Get Started", "GetStarted", new { Controller = "Campaign", Area = "" }, new { title = "Get Started" })</li>
                @if (string.IsNullOrEmpty(PublicWebsiteUrl))
                {
					<li>@Html.ActionLink("Home", "Index", new { Controller = "Home", Area = "" }, new { title = "Home" })</li>
                }
                else
                { 
					<li><a title="@OrganizationName Home" href="@PublicWebsiteUrl" >@OrganizationName Home</a></li> 
				}  
                </ul>