@model JordanRift.Grassroots.Web.Models.ProgressBarModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        setTimeout("Grassroots.progressbar();", 1500);
    });
</script>
<div id="progress">
    <h3><span class="label">@Model.GoalName:</span> @Model.Amount.ToString("C")</h3>
    <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: @Model.Percent%;"></div>
    </div>
    <div class="progress-indicator">@Model.Percent%</div>
    <span class="goal-start">$0.00</span>
    <span class="goal-complete">@Model.GoalAmount.ToString("C")</span>
</div>