@model JordanRift.Grassroots.Web.Models.ProgressBarModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //

    Layout = null;
}

<script type="text/javascript">
    $(function () {
        setTimeout("Grassroots.progressbar();", 1500);
    });
</script>
@if (Model.DisplayTooltip) {
<link href="@Url.Content("~/Content/jquery.wijmo-open.1.5.0.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery.wijmo-complete.1.5.0.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.wijmo-open.1.5.0.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".progressbar-info").wijtooltip({
            content: function () {
                return "It's a representation of the overall<br />progress of all of our currently active<br />campaigns.";
            }
        });
    });
</script>
}
<div id="progress">
    <h3><span class="label">@Model.GoalName:</span> @Model.Amount.ToString("C0")</h3>
    @if (Model.DisplayTooltip) {
    <a href="#" class="progressbar-info meta" onclick="javascript:return false;" title="What does this progress bar mean?">What does this progress bar mean?</a>
    }
    <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: @Model.Percent%;"></div>
    </div>
    <div class="progress-indicator">@Model.Percent%</div>
    <span class="goal-start">$0</span>
    <span class="goal-complete">@Model.GoalAmount.ToString("C0")</span>
</div>