@model IEnumerable<JordanRift.Grassroots.Web.Models.CauseTemplateDetailsModel>
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = @OrganizationName + "'s Projects";
}

<hgroup>
    <h1>@OrganizationName's Projects</h1>
    <h3>Want to get involved? These are the ways you can help.</h3>
</hgroup>

<section class="project-types">
    <ul>
    @foreach (var item in Model) { 
        <li>
            <a href="@Url.Action("Details", new { controller = "CauseTemplate", area = "", id = item.CauseTemplateID })" title="@item.Name">
                <img src="@item.ImagePath" alt="@item.Name" />
            </a>
            <div>
                <h4>@Html.ActionLink(item.Name, "Details", new { controller = "CauseTemplate", area = "", id = item.CauseTemplateID }, new { title = item.Name })</h4>
                <p>@item.Summary</p>
                @Html.ActionLink("Get Started", "GetStarted", new { controller = "Campaign", area = "" }, new { title = "Get Started" })
            </div>
        </li>
    }
    </ul>
</section>
