@model IEnumerable<JordanRift.Grassroots.Web.Models.CauseTemplateDetailsModel>
				
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "List";
}

@section DocumentHead {
    @Html.Partial("UIGrid")
    <script type="text/javascript">
        $(function () {
            Grassroots.gridui([
                { headerText: "Active", width: 50, allowSizing: false },
                { headerText: "Name", width: 150 },
                { headerText: "Goal Name", width: 125 },
                { headerText: "Action Verb", width: 125 },
                { headerText: "Summary", width: 300 }
            ]);
        });
    </script>
}

<hgroup>
    <h1>Project Templates</h1>
</hgroup>
<!-- layout to be replaced later -->
<table class="grid">
    <thead>
        <tr>
            <th>Active</th>
            <th>Name</th>
            <th>Action</th>
            <th>Goal Name</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.CheckBoxFor(i => item.Active, new { disabled = true })</td>
            <td>@Html.ActionLink(item.Name, "Edit", new { controller = "CauseTemplate", id = item.CauseTemplateID }, new { title = item.Name })</td>
            <td>@item.ActionVerb</td>
            <td>@item.GoalName</td>
            <td>@item.Summary</td>
        </tr>
}
    </tbody>
</table>
<p>@Html.ActionLink("Create New", "Create")</p>
<p>@Html.ActionLink("Back to Admin Dashboard", "Index", new { controller = "Admin", area = "" }, new { title = "Back to Admin Dashboard" })</p>