@model IEnumerable<JordanRift.Grassroots.Web.Models.CauseTemplateDetailsModel>
				
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = @OrganizationName + "'s Project Types";
}

@section DocumentHead {
    @Html.Partial("UIGrid")
    <script type="text/javascript">
        $(function () {
            Grassroots.gridui([
                { headerText: "Name", width: 150 },
                { headerText: "Goal Name", width: 125 },
                { headerText: "Action Verb", width: 125 },
                { headerText: "Default Amount", width: 100 },
                { headerText: "Default Length", width: 100 },
                { headerText: "Active", width: 50, allowSizing: false },
                { headerText: "", width: 50 },
                { headerText: "", width: 50 }
            ]);
        });
    </script>
}

<hgroup>
    <h1>Project Templates</h1>
</hgroup>
<div class="cause-templates">
    <table class="grid">
        <thead>
            <tr>
            
                <th>Name</th>
                <th>Action</th>
                <th>Goal Name</th>
                <th>Default Amount</th>
                <th>Default Length</th>
                <th>Active</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) 
    {
        var isActive = item.Active ? "Yes" : "No";
            <tr>
            
                <td>@Html.ActionLink(item.Name, "Edit", new { controller = "CauseTemplate", id = item.CauseTemplateID }, new { title = item.Name })</td>
                <td>@item.ActionVerb</td>
                <td>@item.GoalName</td>
                <td>@item.DefaultAmount.ToString("C0")</td>
                <td>@item.DefaultTimespanInDays days</td>
                <td>@isActive</td>
                <td>@Html.ActionLink("Edit", "Edit", new { controller = "CauseTemplate", id = item.CauseTemplateID }, new { title = item.Name })</td>
                <td><a href="#" title="Delete" class="destroy" data-id="@item.CauseTemplateID" data-type="Project Template" data-controller="Projects">Delete</a></td>
            </tr>
    }
        </tbody>
    </table>
    <p>
        @Html.ActionLink("Create New", "Create")
        @Html.ActionLink("Back to Admin Dashboard", "Index", new { controller = "Admin", area = "" }, new { @class = "cancel", title = "Back to Admin Dashboard" })
    </p>
</div>