@model JordanRift.Grassroots.Web.Models.CampaignCreateModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Start a new campaign";
}

@section DocumentHead {
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>Last step and WE ARE A GO!</h1>
    <h3>@OrganizationTagline</h3>
</hgroup>
<div id="campaign-create-form">
    @using (Html.BeginForm("CreateCampaign", "Campaign", new { Area = "" })) {
        @Html.ValidationSummary(false, "Unable to create campaign. Please correct the following errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        
        @Html.HiddenFor(m => m.CauseTemplateID)
        @Html.HiddenFor(m => m.CampaignType)
        <fieldset>
            <legend>Last step</legend>
            <dl>
                <dt>@Html.LabelFor(m => m.Title)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Title)
                    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.UrlSlug)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.UrlSlug)
                    @Html.ValidationMessageFor(m => m.UrlSlug, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </dd>
                @if (Model.AmountIsConfigurable) { 
                <dt>The cost of a @Model.GoalName is around @Model.DefaultAmount.ToString("C"). Now set your goal and LETS GO!</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Amount)
                    @Html.ValidationMessageFor(m => m.Amount, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </dd>
                }
            </dl>
        </fieldset>
        <div>
            @Html.UiSubmit("Create")
        </div>
    } 
</div>
    