@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = "Create";
}

@section DocumentHead {
    @Html.Partial("UIForm")
}

<!-- TODO: Design create form using tab-panel -->
<hgroup>
    <h1>Create your campaign</h1>
    <h3>@OrganizationTagline</h3>
</hgroup>
<div id="campaign-create-form">
    @using (Html.BeginForm("CreateCampaign", "Campaign", new { Area = "" })) {
        @Html.ValidationSummary(false, "Unable to create campaign. Please correct the following errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <fieldset>
            <legend>Campaign Details</legend>
            <dl>
                <dt>@Html.LabelFor(model => model.Title)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.Title) 
                    @Html.ValidationMessageFor(model => model.Title, null, new { @class = "ui-state-error ui-corner-all" }) 
                </dd>
                <dt>@Html.LabelFor(model => model.Description)</dt>
                <dd>
                    @Html.TextAreaFor(model => model.Description) 
                    @Html.ValidationMessageFor(model => model.Description, null, new { @class = "ui-state-error ui-corner-all" }) 
                </dd>
                <dt>@Html.LabelFor(model => model.GoalAmount)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.GoalAmount) 
                    @Html.ValidationMessageFor(model => model.GoalAmount, null, new { @class = "ui-state-error ui-corner-all" }) 
                </dd>
                <dt>@Html.LabelFor(model => model.UrlSlug)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.UrlSlug) 
                    @Html.ValidationMessageFor(model => model.UrlSlug, null, new { @class = "ui-state-error ui-corner-all" }) 
                </dd>
            </dl>
        </fieldset>
        <div>
            @Html.UiSubmit("Create")
        </div>
    } 
</div>
    