@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = "Create";
}

<h2>Create</h2>

    @using (Html.BeginForm("CreateCampaign", "Campaign", new { Area = "" })) {
        @Html.ValidationSummary(true) 

        <fieldset>
            <legend>Fields</legend>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Title) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Title) 
                @Html.ValidationMessageFor(model => model.Title) 
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Description) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Description) 
                @Html.ValidationMessageFor(model => model.Description) 
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.StartDate) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.StartDate) 
                @Html.ValidationMessageFor(model => model.StartDate) 
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.EndDate) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EndDate) 
                @Html.ValidationMessageFor(model => model.EndDate) 
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.GoalAmount) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.GoalAmount) 
                @Html.ValidationMessageFor(model => model.GoalAmount) 
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.UrlSlug) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.UrlSlug) 
                @Html.ValidationMessageFor(model => model.UrlSlug) 
            </div>
            
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    } 

    <div>
        @Html.ActionLink("Back to List", "Index") 
    </div>