@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@using JordanRift.Grassroots.Web.Models
@{
	//
	// Grassroots is free software: you can redistribute it and/or modify
	// it under the terms of the GNU General Public License as published by
	// the Free Software Foundation, either version 3 of the License, or
	// (at your option) any later version.
	// 
	// Grassroots is distributed in the hope that it will be useful,
	// but WITHOUT ANY WARRANTY; without even the implied warranty of
	// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	// GNU General Public License for more details.
	// 
	// You should have received a copy of the GNU General Public License
	// along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
	//
}
	<section class="summary share-campaign">
		<div class="closed-options">
            <img src="@Model.CauseTempalteImagePath" alt="@Model.CauseTemplateName" title="@Model.CauseTemplateName" />
            <ul>
                <li>@Html.ActionLink( "I want my own campaign", "GetStarted", new { Controller = "Campaign", Area = "" }, new { Title = "Click here go start your own campaign", @class = "ui-button ui-corner-all" } )</li>
                <li>@Html.ActionLink("LearnMore", "Details", new { Controller = "CauseTemplate", Area = "" }, new { Title = "Learn More", @class = "ui-button ui-corner-all" })</li>
            </ul>
        </div>
		<div class="closed-instructions">
			@Html.Raw( Model.InstructionsClosedHtml )
		</div>
	</section>
