@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@using JordanRift.Grassroots.Web.Models
@{
	//
	// Grassroots is free software: you can redistribute it and/or modify
	// it under the terms of the GNU General Public License as published by
	// the Free Software Foundation, either version 3 of the License, or
	// (at your option) any later version.
	// 
	// Grassroots is distributed in the hope that it will be useful,
	// but WITHOUT ANY WARRANTY; without even the implied warranty of
	// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	// GNU General Public License for more details.
	// 
	// You should have received a copy of the GNU General Public License
	// along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
	//
}

	<section class="summary campaign-summary">
		<div class="video">
			@Html.Raw(Model.VideoEmbedHtml)
		</div>
		<div class="body">
            <p><strong>@Model.CallToAction</strong></p>
            <div class="buttons">
                @Html.ActionLink("Donate Now", "Index", new { controller = "Donate", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
            </div>
			<div>
                @Html.Raw( Model.InstructionsOpenHtml )
            </div>
            <div class="buttons">
                @Html.ActionLink("I want my own page", "GetStarted", new { controller = "Campaign", area = "" }, new { title = "I want my own page", @class = "ui-button ui-corner-all" })
            </div>
		</div>
        <div class="user-description">
            <h2>In @Model.FirstName's Words...</h2>
			<p>@Model.Description</p>
        </div>
		<div class="break"></div>
	</section>
