@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@using JordanRift.Grassroots.Web.Models
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
	ViewBag.Title = Model.Title;

    var daysRemaining = Model.EndDate - Model.StartDate;
    var total = Model.Donations.Sum(d => d.Amount);
    var emailBlastModel = ViewBag.EmailBlastModel as CampaignEmailBlastModel;
}

    <hgroup>
        <h1>@Model.Title</h1>
    </hgroup>
    @if (Model.CurrentUserIsOwner) { 
    <aside class="edit">
        @Html.ActionLink("Edit this campaign", "Edit", new { controller = "Campaign", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
    </aside>
    }
    <div class="dashboard">
        @Html.Action("ProgressBar", new { controller = "Campaign", id = Model.CampaignID })
        <aside class="donate">
            @Html.ActionLink("Donate Now", "Index", new { controller = "Donate", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
        </aside>
        <ul>
            <li>@daysRemaining.Days Days Left</li>
            <li>@total.ToString("C") Raised</li>
            <li>@Model.Donations.Count Donations</li>
            <li>@Model.GoalAmount.ToString("C") Goal</li>
        </ul>
    </div>
    <section class="social">
        <img src="@Model.ImagePath" alt="@Model.Title" />
        <div>
            <p>Share this with your friends</p>
            <!-- TODO: Build URL for campaign w/ copy button here... -->
            @Html.Partial("FacebookLikeButtonWithPictures")
            @Html.Partial("TweetButton")
            @if (Model.CurrentUserIsOwner) { 
            @Html.Partial("EmailForm", emailBlastModel)
            }
        </div>
    </section>
    <section class="summary">
        <div>
            <h2>In @Model.FirstName's Words...</h2>
            <p>@Model.Description</p>
        </div>
        <div>
            @Html.Raw(Model.VideoEmbedHtml)
        </div>
    </section>
    <section class="donations">
        @Html.Partial("DonationGrid", Model.Donations)
    </section>