@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@using JordanRift.Grassroots.Web.Models
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
	ViewBag.Title = Model.Title;

    var daysRemaining = Model.EndDate - Model.StartDate;
    var total = Model.Donations.Sum(d => d.Amount);
    var emailBlastModel = ViewBag.EmailBlastModel as CampaignEmailBlastModel;
}

@section DocumentHead {
    @Html.Partial("UIForm")
}

    <hgroup class="campaign">
        <h1>@Model.Title</h1>
    </hgroup>
    @if (Model.CurrentUserIsOwner) { 
    <aside class="edit">
        @Html.ActionLink("Edit this campaign", "Edit", new { controller = "Campaign", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
    </aside>
    }
    <div class="dashboard">
        @Html.Action("ProgressBar", new { controller = "Campaign", id = Model.CampaignID })
        <aside class="donate">
            @Html.ActionLink("Donate Now", "Index", new { controller = "Donate", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
        </aside>
        <ul class="stats break">
            <li class="first"><span>@Model.GoalAmount.ToString("C")</span> Campaign Goal</li>
            <li><span>@total.ToString("C")</span> Raised to Date</li>
            <li><span>@Model.Donations.Count</span> Individual Donations</li>
            <li class="last"><span>@daysRemaining.Days</span> Days Remaining</li>
        </ul>
    </div>
    <section class="share-campaign">
        <img src="@Model.ImagePath" alt="@Model.Title" class="campaign-img" />
        <div class="share">
            <h3>Share this with your friends</h3>
            <span class="url">
                @Html.TextBox("Url", Url.Action("Index", "Campaign", new { slug = Model.UrlSlug }, Request.Url != null ? Request.Url.Scheme : "https"))
            </span>
            
            <ul>
                <li>@Html.Partial("TweetButton")</li>
            @if (Model.CurrentUserIsOwner) {
                <li><a href="#" id="email">Email your friends</a></li>
            }
            </ul>
            
            <div class="fb">@Html.Partial("FacebookLikeButtonWithPictures")</div>
        </div>
        <div class="break"></div>
    </section>
    <section class="summary">
        <div class="body">
            <h2>In @Model.FirstName's Words...</h2>
            <p>@Model.Description</p>
        </div>
        <div class="video">
            @Html.Raw(Model.VideoEmbedHtml)
        </div>
        <div class="break"></div>
    </section>
    @Html.Partial("DonationGrid", Model.Donations)

    @section DocumentBottom {
        @if (Model.CurrentUserIsOwner) { 
        @Html.Partial("EmailForm", emailBlastModel)
        }
    }