@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@using JordanRift.Grassroots.Web.Models
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
	ViewBag.Title = Model.Title;

    var daysRemaining = Model.EndDate - Model.StartDate;
    var total = Model.Donations.Sum(d => d.Amount);
    var emailBlastModel = ViewBag.EmailBlastModel as CampaignEmailBlastModel;
}

@section DocumentHead {
    @Html.Partial("UIForm")
}

    <hgroup class="campaign">
        <h1>@Model.Title</h1>
    </hgroup>
    @if (Model.CurrentUserIsOwner) { 
    <aside class="edit">
        @Html.ActionLink("Edit this campaign", "Edit", new { controller = "Campaign", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
    </aside>
    }
    <section class="dashboard">
        @Html.Action("ProgressBar", new { controller = "Campaign", id = Model.CampaignID })
        <aside class="donate">
            @Html.ActionLink("Donate Now", "Index", new { controller = "Donate", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
        </aside>
        <ul class="stats break">
            <li class="first"><span>@Model.GoalAmount.ToString("C")</span> Campaign Goal</li>
            <li><span>@total.ToString("C")</span> Raised to Date</li>
            <li><span>@Model.Donations.Count</span> Individual Donations</li>
            <li class="last"><span>@daysRemaining.Days</span> Days Remaining</li>
        </ul>
    </section>
    <section class="share-campaign">
        <img src="@Model.ImagePath" alt="@Model.Title" class="campaign-img" />
        <div class="share">
            <h3>Share this with your friends</h3>
            <span class="url">
                @Html.TextBox("Url", Url.ToPublicUrl(Url.Action("Index", "Campaign", new { slug = Model.UrlSlug })))
            </span>
            
            <ul>
                <li>@Html.Partial("TweetButton")</li>
            @if (Model.CurrentUserIsOwner) {
                <li><a href="#" id="email-blast" title="Email your friends"><img src="@Url.Content("~/Content/images/icon_email.gif")" alt="Email your friends" height="30" width="30" /></a></li>
            }
            </ul>
            
            <div class="fb">@Html.Partial("FacebookLikeButtonWithPictures")</div>
        </div>
        <div class="break"></div>
    </section>
    <section class="summary">
        <div class="body">
            <h2>In @Model.FirstName's Words...</h2>
            <p>@Model.Description</p>
        </div>
        <div class="video">
            @Html.Raw(Model.VideoEmbedHtml)
        </div>
        <div class="break"></div>
    </section>
    
	@if ( Model.IsActive )
	{
		@Html.Partial( "DetailsOpen", Model )
	}
	else
	{ 
 		@Html.Partial( "DetailsClosed", Model )
	}
 
	@Html.Partial( "DonationGrid", Model.Donations )

    @section DocumentBottom {
        @if ( Model.CurrentUserIsOwner )
		{ 
        @Html.Partial( "EmailForm", emailBlastModel )
        }
    }