@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@using JordanRift.Grassroots.Web.Models
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
	ViewBag.Title = Model.Title;

	var daysRemaining = ( DateTime.Now < Model.EndDate ) ? (Model.EndDate - DateTime.Now).Days : 0;
    var total = Model.Donations.Sum(d => d.Amount);
    var emailBlastModel = ViewBag.EmailBlastModel as CampaignEmailBlastModel;
}

@section DocumentHead {
    @Html.Partial("UIForm")
}
	<aside class="photo" style="float: right;"> <!-- Yo Jason!!  I've put these inline styles in here just so you know my intention with this layout -->
		<img src="@Model.UserImagePath" style="float:right; margin-bottom: 10px;" title="I'm the person who started this campaign!" alt="@Model.FirstName @Model.LastName"/>
		<br />
		<span class="url">
			@Html.TextBox("Url", Url.ToPublicUrl(Url.Action("Index", "Campaign", new { slug = Model.UrlSlug })))
        </span>
	</aside>
    <hgroup class="campaign">
        <h1>@Model.Title</h1>
    </hgroup>
	@if (Model.CurrentUserIsOwner) { 
    <aside class="edit">
        @Html.ActionLink("Edit this campaign", "Edit", new { controller = "Campaign", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
    </aside>
    }
    <section class="dashboard">
        @Html.Action("ProgressBar", new { controller = "Campaign", id = Model.CampaignID })
		@if ( Model.IsActive )
		{
			<aside class="donate">
            @Html.ActionLink( "Donate Now", "Index", new { controller = "Donate", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" } )
			</aside>
		}
        <ul class="stats break">
            <li class="first"><span>@Model.GoalAmount.ToString("C")</span> Campaign Goal</li>
            <li><span>@total.ToString("C")</span> Raised to Date</li>
            <li><span>@Model.Donations.Count</span> Individual Donations</li>
            <li class="last"><span>@daysRemaining</span> Days Remaining</li>
        </ul>
    </section>
    
	@if ( Model.IsActive )
	{
		@Html.Partial( "DetailsOpen", Model )
	}
	else
	{ 
 		@Html.Partial( "DetailsClosed", Model )
	}
 
	@Html.Partial( "DonationGrid", Model.Donations )

    @section DocumentBottom {
        @if ( Model.CurrentUserIsOwner )
		{ 
        @Html.Partial( "EmailForm", emailBlastModel )
        }
    }