@model IEnumerable<JordanRift.Grassroots.Web.Models.DonationDetailsModel>
@{
    Layout = null;
}

@if (Model != null && Model.Count() > 0) {
<section class="donations">
    <h3>Donations to @Model.First().Title</h3>
    <table class="donor-grid">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                @* TODO: <th>Comment</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model) { 
            <tr>
                <td>@i.FirstName @i.LastName</td>
                <td>@i.Amount.ToString("C")</td>
                <td>@i.DonationDate.ToShortDateString()</td>
                @* TODO: <td>@i.Comment</td>*@
            </tr>
            }
        </tbody>
    </table>
</section>
}