@model IEnumerable<JordanRift.Grassroots.Web.Models.DonationDetailsModel>
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = null;
}

@if (Model != null && Model.Count() > 0) {
<section class="donations grid">
    <h3>Donations to @Model.First().Title</h3>
    <table class="donor-grid">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th class="wide">Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model) { 
            <tr>
                <td>
                @if (i.UserProfileID.HasValue) { 
                    @Html.ActionLink(string.Format("{0} {1}", i.FirstName, i.LastName), "Index", new { controller = "UserProfile", area = "", id = i.UserProfileID.Value }, new { title = string.Format("{0} {1}'s Profile", i.FirstName, i.LastName) })
                }
                else {
                    @i.FirstName @i.LastName
                }
                </td>
                <td>@i.Amount.ToString("C")</td>
                <td>@i.DonationDate.ToShortDateString()</td>
                 <td>@i.Comments</td>
            </tr>
            }
        </tbody>
    </table>
</section>
}