@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@using JordanRift.Grassroots.Web.Models
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
	ViewBag.Title = "Editing " + Model.Title;

    var daysRemaining = Model.EndDate - Model.StartDate;
    var total = Model.Donations.Sum(d => d.Amount);
    var emailBlastModel = ViewBag.EmailBlastModel as CampaignEmailBlastModel;
}

@section DocumentHead {
    @Html.Partial("UIForm")
}

<div id="campaign-edit-form">
    @using (Html.BeginForm("Update", "Campaign", new { area = "", id = Model.CampaignID })) {
        @Html.ValidationSummary(false, "Unable to save your campaign. Please correct the following errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <div class="title">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
        </div>
        <div class="dashboard">
            @Html.Action("ProgressBar", new { controller = "Campaign", id = Model.CampaignID })
            <aside class="donate">
                @Html.ActionLink("Donate Now", "Index", new { controller = "Donate", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
            </aside>
            <ul>
                @if (Model.TimespanIsConfigurable) { 
                <li>
                    @Html.EditorFor(m => m.EndDate)
                    @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                    @Html.HiddenFor(m => m.StartDate)
                </li>
                }
                else {
                <li>
                    @daysRemaining.Days Days Left
                    @Html.HiddenFor(m => m.StartDate)
                    @Html.HiddenFor(m => m.EndDate)
                </li>
                }
                <li>@total.ToString("C") Raised</li>
                <li>@Model.Donations.Count Donations</li>
                @if (Model.AmountIsConfigurable) {
                <li>
                    @Html.TextBoxFor(m => m.GoalAmount)
                    @Html.ValidationMessageFor(m => m.GoalAmount, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </li>
                }
                else { 
                <li>@Model.GoalAmount.ToString("C") Goal</li>
                }
            </ul>
        </div>
        <section class="social">
            <input type="file" name="imagePath" id="imagePath" />
            <div>
                <p>Share this with your friends</p>
                <!-- TODO: Build URL for campaign w/ copy button here... -->
                <div class="url">
                    @Html.TextBoxFor(m => m.UrlSlug)
                    @Html.ValidationMessageFor(m => m.UrlSlug, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </div>
                @Html.Partial("FacebookLikeButtonWithPictures")
                @Html.Partial("TweetButton")
            </div>
        </section>
        <section class="summary">
            <div>
                <h2>In @Model.FirstName's Words...</h2>
                <p>
                    @Html.TextAreaFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </p>
            </div>
            <div>
                @Html.Raw(Model.VideoEmbedHtml)
            </div>
        </section>
        <section class="donations">
            @Html.Partial("DonationGrid", Model.Donations)
        </section>
        <div>
            @Html.UiSubmit("Submit")
        </div>
    }
</div>