@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@using JordanRift.Grassroots.Web.Models
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
	ViewBag.Title = "Editing " + Model.Title;

    var daysRemaining = Model.EndDate - Model.StartDate;
    var total = Model.Donations.Sum(d => d.Amount);
    var emailBlastModel = ViewBag.EmailBlastModel as CampaignEmailBlastModel;
}

@section DocumentHead {
    @Html.Partial("UIForm")
}

<div id="campaign-edit-form">
    @using (Html.BeginForm("Update", "Campaign", new { area = "", id = Model.CampaignID })) {
        @Html.ValidationSummary(false, "Unable to save your campaign. Please correct the following errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <div class="title">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
        </div>
        <div class="dashboard">
            @Html.Action("ProgressBar", new { controller = "Campaign", id = Model.CampaignID })
            <aside class="donate">
                @Html.ActionLink("Donate Now", "Index", new { controller = "Donate", slug = Model.UrlSlug }, new { title = "Donate", @class = "ui-button ui-corner-all" })
            </aside>
            <ul class="stats break">
                @if (Model.AmountIsConfigurable) {
                <li class="first">
                    @Html.TextBoxFor(m => m.GoalAmount)
                    @Html.ValidationMessageFor(m => m.GoalAmount, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </li>
                }
                else { 
                <li><span>@Model.GoalAmount.ToString("C")</span> Campaign Goal</li>
                }
                <li><span>@total.ToString("C")</span> Raised</li>
                <li><span>@Model.Donations.Count</span> Donations</li>
                @if (Model.TimespanIsConfigurable) { 
                <li>
                    @Html.EditorFor(m => m.EndDate)
                    @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                    @Html.HiddenFor(m => m.StartDate)
                </li>
                }
                else {
                <li class="last">
                    <span>@daysRemaining.Days</span> Days Left
                    @Html.HiddenFor(m => m.StartDate)
                    @Html.HiddenFor(m => m.EndDate)
                </li>
                }
            </ul>
        </div>
        <section class="share-campaign">
            <input type="file" name="imagePath" id="imagePath" />
            <div class="share">
                <p>Share this with your friends</p>
                
                <div class="span">
                    @Html.LabelFor(m => m.UrlSlug)
                    @Html.TextBoxFor(m => m.UrlSlug)
                    @Html.ValidationMessageFor(m => m.UrlSlug, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </div>

                <ul>
                    <li>@Html.Partial("TweetButton")</li>
                </ul>

                <div class="fb">@Html.Partial("FacebookLikeButtonWithPictures")</div>
                <div class="break"></div>
            </div>
        </section>
        <section class="summary">
            <div class="body">
                <h2>In @Model.FirstName's Words...</h2>
                <p>
                    @Html.TextAreaFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </p>
            </div>
            <div class="video">
                @Html.Raw(Model.VideoEmbedHtml)
            </div>
        </section>
        @Html.Partial("DonationGrid", Model.Donations)
        <div>
            @Html.UiSubmit("Submit")
        </div>
    }
</div>