@model JordanRift.Grassroots.Web.Models.CampaignEmailBlastModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
}

<div class="notification">
</div>

<script type="text/javascript">
    $(function () {
        Grassroots.initEmailForm();
    });
</script>

<div id="campaign-email-form" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable">
    @using (Html.BeginForm("SendEmail", "Campaign"))
    {   
        <fieldset>
            <legend>Tell your friends about @Model.Title</legend>
            @Html.HiddenFor(m => m.Title)
            @Html.HiddenFor(m => m.UrlSlug)
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.FirstName)
            @Html.HiddenFor(m => m.LastName)
            <dl>
                <dt>@Html.LabelFor(m => m.EmailAddresses)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.EmailAddresses, new { placeholder = "jon@gmail.com,jane@yaoo.com" })
                    @Html.ValidationMessageFor(m => m.EmailAddresses, null, new { @class = "ui-widget ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.CustomMessage)</dt>
                <dd>
                    @Html.TextAreaFor(m => m.CustomMessage, new { placeholder = "Type your optional message here..." })
                </dd>
            </dl>
        </fieldset>
    }
</div>