@model JordanRift.Grassroots.Web.Models.CampaignEmailBlastModel

<script type="text/javascript">
    $(function () {
        Grassroots.initEmailForm();
    });
</script>

<div id="campaign-email-form" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable">
    @using (Html.BeginForm("SendEmail", "Campaign"))
    {
        <fieldset>
            <legend>Tell your friends about @Model.Title</legend>
            @Html.HiddenFor(m => m.Title)
            @Html.HiddenFor(m => m.UrlSlug)
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.FirstName)
            @Html.HiddenFor(m => m.LastName)
            <dl>
                <dt>@Html.LabelFor(m => m.EmailAddresses)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.EmailAddresses, new { placeholder = "jon@gmail.com,jane@yaoo.com" })
                    @Html.ValidationMessageFor(m => m.EmailAddresses, null, new { @class = "ui-widget ui-state-error ui-corner-all"  })
                </dd>
                <dt>@Html.LabelFor(m => m.CustomMessage)</dt>
                <dd>
                    @Html.TextAreaFor(m => m.CustomMessage, new { placeholder = "Type your optional message here..." })
                </dd>
            </dl>
        </fieldset>
    }
</div>