@model JordanRift.Grassroots.Web.Models.GetStartedModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Get Started";
}

@section DocumentHead {
    <script type="text/javascript">
        $(function () {
            Grassroots.getStarted();
        });
    </script>
}

<hgroup>
    <h1>Get Started</h1>
    <h3>Tell us about the campaign you are starting...</h3>
</hgroup>
<div id="get-started">
    @using (Html.BeginForm("Create", "Campaign")) {
        @Html.HiddenFor(m => m.CauseTemplateID)
        @Html.HiddenFor(m => m.CampaignType)
        
        if (Model.CauseTemplates.Count() > 1) {
        <section class="projects">
            <ul>
                @foreach(var template in Model.CauseTemplates) {
                <li>
                    <a href="#" data-cause-template-id="@template.CauseTemplateID" title="@template.Name" class="cause-template">
                        <span>@template.Name</span>
                        <img src="@template.ImagePath" alt="@template.Name" />
                    </a>
                </li>
                }
            </ul>
        </section>
        }
        <section class="">
        
        </section>
    }
</div>