@model JordanRift.Grassroots.Web.Models.GetStartedModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Get Started";
}

@section DocumentHead {
    @Html.Partial("UIForm")
    <script type="text/javascript">
        $(function () {
            Grassroots.getStarted();
        });
    </script>
}

<hgroup>
    <h1>Get Started</h1>
    <h3>Tell us about the campaign you are starting...</h3>
</hgroup>
<div class="get-started">
    @using (Html.BeginForm("Create", "Campaign")) {
        @Html.HiddenFor(m => m.CauseTemplateID)
        @Html.HiddenFor(m => m.CampaignType)
        
        if (Model.CauseTemplates.Count() > 1) {
        <section class="projects">
            <p>What type of cause will you be championing?</p>
            <ul>
                @foreach(var template in Model.CauseTemplates) {
                <li>
                    <a href="#" data-cause-template-id="@template.CauseTemplateID" title="@template.Name" class="cause-template">
                        <span>@template.Name</span>
                        <img src="@template.ImagePath" alt="@template.Name" />
                    </a>
                </li>
                }
            </ul>
        </section>
        }
        <section class="campaign-types">
            <p>What's the occasion?</p>
            <ul>
                <li id="birthday">
                    <a href="#" data-campaign-type="1" title="Birthday" class="campaign-type">
                        <strong>Birthday</strong>
                        <span>Give up the gifts and ask for your age in dollars.</span>
                    </a>
                </li>
                <li id="sports" class="even">
                    <a href="#" data-campaign-type="2" title="Sporting Event" class="campaign-type">
                        <strong>Sporting Event</strong>
                        <span>Run, walk, swim, jump, sail. All to raise awareness and funds to change lives all around the world.</span>
                    </a>
                </li>
                <li id="groups">
                    <a href="#" data-campaign-type="3" title="Groups" class="campaign-type">
                        <strong>Groups</strong>
                        <span>Schools, teams or local businesses could band together and make a difference.</span>
                    </a>
                </li>
                <li id="other" class="even">
                    <a href="#" data-campaign-type="4" title="Other" class="campaign-type">
                        <strong>Other</strong>
                        <span>Be creative: Grow a beard or adopt a dog. The sky's the limit.</span>
                    </a>
                </li>
            </ul>
        </section>
        <div>
            @Html.UiSubmit("Let's go!")
            @Html.UiCancel()
        </div>
    }
</div>