@model IEnumerable<JordanRift.Grassroots.Web.Models.CampaignDetailsModel>
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Index";
}

    <h2>Active Campaigns</h2>

    <table>
        <tr>
            <th></th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                ImageID
            </th>
            <th>
                Started
            </th>
            <th>
                Ending
            </th>
            <th>
                Goal Amount
            </th>
        </tr>

    @foreach (var item in Model) { 
    
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { slug = item.UrlSlug })  <text>|</text>
                @Html.ActionLink("Details", "Index", new { slug = item.UrlSlug }) <text>|</text>
                @using (Html.BeginForm(new { Action = "Delete", id = item.CampaignID })) { 
                    <input type="submit" name="submit" id="delete" value="Delete" />
                } 
            </td>
            <td>
                @item.Title 
            </td>
            <td>
                @item.Description 
            </td>
            <td>
                <img src="@item.ImagePath" alt="@item.Title"/>
            </td>
            <td>
                @String.Format("{0:g}", item.StartDate) 
            </td>
            <td>
                @String.Format("{0:g}", item.EndDate) 
            </td>
            <td>
                @String.Format("{0:F}", item.GoalAmount) 
            </td>
        </tr>
    
    } 

    </table>

    <p>
        @Html.ActionLink("Create New", "Create") 
    </p>
