@model IEnumerable<JordanRift.Grassroots.Web.Models.CampaignDetailsModel>
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //

    ViewBag.Title = "List";
}

@section DocumentHead {
    @Html.Partial("UIGrid")
    <script type="text/javascript">
        $(function () {
            Grassroots.gridui([
                { headerText: "Title" },
                { headerText: "Owner" },
                { headerText: "Raised" },
                { headerText: "Goal" },
                { headerText: "Start Date" },
                { headerText: "End Date" },
                { headerText: "Active" },
                { headerText: "Project" },
                { headerText: "" },
                { headerText: "" }
            ]);
        });
    </script>
}

<hgroup>
    <h1>Browse Campaigns</h1>
</hgroup>
@* TODO: Add search controls in future release *@
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Raised</th>
            <th>Goal</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Active</th>
            <th>Project</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        var ownerName = string.Format("{0} {1}", item.FirstName, item.LastName);
        var total = item.Donations.Sum(d => d.Amount);
        var status = item.IsActive ? "Yes" : "No";
        <tr>
            <td>@Html.ActionLink(item.Title, "Admin", new { id = item.CampaignID }, new { title = item.Title })</td>
            <td>@Html.ActionLink(ownerName, "Admin", new { controller = "UserProfile", id = item.UserProfileID }, new { title = ownerName })</td>
            <td>@total.ToString("C0")</td>
            <td>@item.GoalAmount.ToString("C0")</td>
            <td>@item.StartDate.ToShortDateString()</td>
            <td>@item.EndDate.ToShortDateString()</td>
            <td>@status</td>
            <td>@item.CauseName</td>
            <td>@Html.ActionLink("Edit", "Admin", new { id = item.CampaignID }, new { title = "Edit" })</td>
            <td><a href="#" class="destroy" title="Delete" data-id="@item.CampaignID" data-type="Campaign" data-controller="Campaign">Delete</a></td>
        </tr>
    }
    </tbody>
</table>
