@model JordanRift.Grassroots.Web.Models.CampaignEmailBlastModel
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<h1>Hi'dly-ho neighborinos!</h1>

<p>Your friend <strong>@Model.FirstName @Model.LastName</strong> thought you might be interested in learning more about 
the cause they're championing: <strong>@Model.Title</strong>.</p>

<p>Here's what they have to say:</p>

@if (!string.IsNullOrEmpty(Model.CustomMessage)) {
<p><em>@Model.CustomMessage</em></p>
}

<p>To learn more, head on over <a href="@Model.Url">here</a> to have a look-see!</p>