@model JordanRift.Grassroots.Web.Models.CampaignEmailBlastModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<h1>Hi'dly-ho neighborinos!</h1>

<p>Your friend <strong>@Model.FirstName @Model.LastName</strong> thought you might be interested in learning more about 
the cause they're championing: <strong>@Model.Title</strong>.</p>

<p>Here's what they have to say:</p>

@if (!string.IsNullOrEmpty(Model.CustomMessage)) {
<p><em>@Model.CustomMessage</em></p>
}

<p>To learn more, head on over <a href="@Model.Url">here</a> to have a look-see!</p>