@model JordanRift.Grassroots.Web.Models.UserProfileDetailsModel
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = "Edit";
}

@section DocumentHead
{
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>Update your profile</h1>
</hgroup>
<div id="user-profile-edit-form">
    @using (Html.BeginForm(new { Action = "Update", Controller = "UserProfile", ID = Model.UserProfileID })) {
        @Html.ValidationSummary(true)
        <fieldset class="column">
            <dl>
                <dt>@Html.LabelFor(model => model.FirstName)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </dd>
                <dt>@Html.LabelFor(model => model.LastName)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </dd>
                <dt>@Html.LabelFor(model => model.Birthdate)</dt>
                <dd>
                    @Html.EditorFor(model => model.Birthdate, String.Format("{0:g}", Model.Birthdate))
                    @Html.ValidationMessageFor(model => model.Birthdate)
                </dd>
                <dt>@Html.LabelFor(model => model.Gender)</dt>
                <dd>
                    @Html.EditorFor(model => model.Gender)
                    @Html.ValidationMessageFor(model => model.Gender)
                </dd>
            </dl>
        </fieldset>
        <fieldset class="column">
            <dl>            
                <dt>@Html.LabelFor(model => model.PrimaryPhone)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.PrimaryPhone)
                    @Html.ValidationMessageFor(model => model.PrimaryPhone)
                </dd>
                <dt>@Html.LabelFor(model => model.AddressLine1)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.AddressLine1)
                    @Html.ValidationMessageFor(model => model.AddressLine1)
                </dd>
                <dt>@Html.LabelFor(model => model.AddressLine2)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.AddressLine2)
                    @Html.ValidationMessageFor(model => model.AddressLine2)
                </dd>
                <dt>@Html.LabelFor(model => model.City)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
                </dd>
                <dt>@Html.LabelFor(model => model.State)</dt>
                <dd>
                    @Html.EditorFor(model => model.State)
                    @Html.ValidationMessageFor(model => model.State)
                </dd>
                <dt>@Html.LabelFor(model => model.ZipCode)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.ZipCode)
                    @Html.ValidationMessageFor(model => model.ZipCode)
                </dd>
            </dl>
        </fieldset>
        <div>
            @Html.UiSubmit("Submit")
            @Html.UiCancel()
        </div>
    }
</div>