@model JordanRift.Grassroots.Web.Models.UserProfileDetailsModel
@using JordanRift.Grassroots.Framework.Entities.Models
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = string.Format("{0}'s Profile", Model.FirstName);
    var isConnectedToFacebook = !string.IsNullOrEmpty(Model.FacebookID);
    var isAdministrator = User.IsInRole("Administrator");
}

    <hgroup>
        <h1>@Model.FirstName @Model.LastName's Profile</h1>
    </hgroup>

    <div class="user-profile">
        <section class="public-info">
            <ul class="stats">
                <li class="user-image first">
                    <img src="@Model.ImagePath" alt="@Model.FirstName @Model.LastName" />
                </li>
                <li>
                    <a href="@Url.Action("Projects", new { controller = "UserProfile", area = "", id = Model.UserProfileID })" title="@Model.ProjectsCompletedLabel @Model.ProjectsCompletedLabel">
                        <span>@Model.ProjectsCompleted</span>
                        @Model.ProjectsCompletedLabel
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Raised", new { controller = "UserProfile", area = "", id = Model.UserProfileID})" title="@Model.DollarsRaised.ToString("C") Raised">
                        <span>@Model.DollarsRaised.ToString("C")</span>
                        Raised
                    </a>
                </li>
                <li class="last">
                    <a href="@Url.Action("Given", new { controller = "UserProfile", area = "", id = Model.UserProfileID})" title="@Model.DollarsGiven.ToString("C") Given">
                        <span>@Model.DollarsGiven.ToString("C")</span>
                        Given
                    </a>
                </li>
            </ul>
            <div class="break"></div>
            <div class="campaigns">
                @if (Model.ActiveCampaignCount == 0) {
                @Html.ActionLink("Launch A New Campaign", "GetStarted", new { controller = "Campaign" }, new { title = "Launch A Campaign", @class = "ui-button ui-corner-all pad-bottom" })
                }
                @if (Model.Campaigns.Count > 0)
                { 
                <div class="campaign-history">
                <h3>My Campaign History</h3>
                @Html.Partial("CampaignList", Model.Campaigns)
                </div>
                }
            </div>

            @if (Model.CurrentUserIsOwner && (!isConnectedToFacebook || isAdministrator)) { 
            <aside class="private-info">
                <h3>Account Settings</h3>
                <ul class="tasks">
			        @if (!isConnectedToFacebook) {
			        <li>@Html.ActionLink("Link to Facebook", "Connect", new { controller = "Facebook", area = "" }, new { title = "Link to Facebook" })</li>
                    }
                    @if (isAdministrator) {
                    <li>@Html.ActionLink("Admin Dashboard", "Index", new { Controller = "Admin", Area = "" }, new { Title = "Admin Dashboard" })</li>
                    }
                </ul>
            </aside>
            }
        </section>
        <div class="break"></div>
    </div>
