@model JordanRift.Grassroots.Web.Models.UserProfileDetailsModel
@using JordanRift.Grassroots.Framework.Entities.Models
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = string.Format("{0}'s Profile", Model.FirstName);
    var campaigns = Model.Campaigns;
    var campaignCount = campaigns != null ? campaigns.Count.ToString() : "No";
}

    <hgroup>
        <h1>@Model.FirstName @Model.LastName's Profile</h1>
    </hgroup>
    <section class="user-info">
        <img src="@Model.ImagePath" alt="@Model.FirstName @Model.LastName"/>
	    <table>
		    <tbody>
                <tr>
                    <td colspan="2"><h3>@Model.Role</h3></td>
                </tr>
                <tr>
                    <td class="heading">Name</td>
                    <td>@Model.FirstName @Model.LastName</td>
                </tr>
                <!-- TODO: Consier hiding this information for people other than admins and/or profile owner -->
		        <tr>
			        <td class="heading">Email</td>
			        <td><a href="mailto:@Model.Email" title="@Model.Email">@Model.Email</a></td>
		        </tr>
		        <tr>
			        <td class="heading">Phone</td>
			        <td>@Model.PrimaryPhone</td>
		        </tr>
		        <tr>
			        <td class="heading">Address</td>
			        <td>@Model.AddressLine1<br />
				        @if ( @Model.AddressLine2 != null && @Model.AddressLine2 != string.Empty ) {
	   				        @Model.AddressLine2<br />
				        }
				        @Model.City, @Model.State @Model.ZipCode</td>
		        </tr>
		        <tr>
			        <td class="heading">Age</td>
			        <td>@Model.Age</td>
		        </tr>
                <!-- End TODO -->
		        <tr>
			        <td class="heading">Last Visit</td>
			        <td>@Model.LastVisit</td>
		        </tr>
		    </tbody>
	    </table>

	    <aside class="stats">
	        <h3>@Model.FirstName's Impact</h3>
		    <ul>
                <li><span>@campaignCount</span> Campaigns</li>
			    <li><span>@Model.TotalRaised.ToString("C")</span> Raised</li>
			    @if ( Model.TotalHoursServed > 0m ) {
				<li><span>@Model.TotalHoursServed</span> Hours Served</li>
                }
            </ul>
            <h3>@Model.FirstName's Contribution to Others</h3>
            <ul>
			    <li><span>@Model.TotalDonationsMade</span> Donations Made</li>
			    <li><span>$@Model.TotalDonationsGiven</span> Given</li>
			    <li><span>@Model.TotalNumberCampaignsDonatedTo</span> Campaigns Donated To</li>
		    </ul>
	    </aside>

        <div class="user-dashboard">
            <h3>I want to...</h3>
            <ul>
                <li>@Html.ActionLink( "Edit Details", "Edit", new { Area = "", id = Model.UserProfileID }, new { Title = "Edit Details" } )</li>
			    @if ( Model.FacebookID == null || Model.FacebookID == "" ) {
			    <li>@Html.ActionLink("Link to Facebook", "Connect", new { controller = "Facebook", area = "" }, new { title = "Link to Facebook" })</li>
                }
                <li>@Html.ActionLink( "Change Password", "ChangePassword", new { Controller = "Account", Area = "" }, new { Title = "Change Password" } )</li>
                @if (Model.Active) { 
                <li>@Html.ActionLink("Disable Account", "DeactivateAccount", new { Controller = "UserProfile", Area = "" }, new { Title = "Disable Account" })</li>
                }
                else {
                <li>@Html.ActionLink("Activate Account", "ReactivateAccount", new { Controller = "UserProfile", Area = "" }, new { Title = "Activate Account" })</li>
                }
                @if (User.IsInRole("Administrator")) {
                <li>@Html.ActionLink("Admin Dashboard", "Index", new { Controller = "Admin", Area = "" }, new { Title = "Admin Dashboard" })</li>
                }
            </ul>
        </div>

        <div class="break"></div>
    </section>

    <section class="campaigns">
        @if (campaigns == null || campaigns.Count == 0)
        {
        <h3>We noticed you have't started a campaign yet. @Html.ActionLink("Click here", "Create", new { Controller = "Campaign", Area = "" }, new { Title = "Click here" }) to get started!</h3>
        }
        else
        {
        <h3>@Model.FirstName's Recent Campaigns</h3>
        @Html.Partial("CampaignList", campaigns);
		}
    </section>

    <section class="notes">
        <!-- TODO: Notes attached to the user will go here... -->
    </section>

