@model JordanRift.Grassroots.Web.Models.UserProfileDetailsModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = string.Format("{0}'s Profile", Model.FirstName);
    var isConnectedToFacebook = !string.IsNullOrEmpty(Model.FacebookID);
    var isAdministrator = User.IsInRole("Root") || User.IsInRole("Administrator");
    var shouldDisplaySidebar = Model.CurrentUserIsOwner && (!isConnectedToFacebook || isAdministrator);
    var campaignHistoryClass = shouldDisplaySidebar ? "campaigns" : "campaigns wide";
    var ownerName = Model.CurrentUserIsOwner ? "My" : string.Format("{0}'s", Model.FirstName);
}

@section DocumentHead {
    @if (Model.CurrentUserIsOwner) {
    <link href="@Url.Content("~/Content/jquery.wijmo-open.1.2.0.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.wijmo-complete.1.2.0.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.13.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.wijmo-open.1.2.0.min.js")" type="text/javascript"></script>
    <script type="text/x-jquery-tmpl" id="tooltip-template">
        <div class="tooltip-instructions">
            @if (string.IsNullOrEmpty(Model.FacebookID)) { 
            <p class="fb">@Html.ActionLink("Connect", "Connect", new { controller = "Facebook", area = "" }, new { title = "Connect", @class = "fb-connect" }) your account to Facebook.</p>
            <br /><text>- or -</text>
            <p>Claim your email address on <a href="http://en.gravatar.com/" title="Gravatar" target="_blank">Gravatar</a>.</p>
            }
            else {
            <p>Change your <a href="http://www.facebook.com" title="Facebook" target="_blank">Facebook</a> profile picture.</p>
            }
        </div>
    </script>
    <script type="text/javascript">
        $(function () {
            $(".user-image-info").wijtooltip({
                hideDelay: 3000,
                content: function () {
                    return $("#tooltip-template").tmpl();
                }
            });
        });
    </script>
    }
}

    <hgroup>
        <h1>@Model.FirstName @Model.LastName's Profile</h1>
    </hgroup>

    <div class="user-profile">
        <section class="public-info">
            <ul class="stats">
                <li class="user-image first">
                    <img src="@Model.ImagePath" alt="@Model.FirstName @Model.LastName" />
                </li>
                <li>
                    <a href="@Url.Action("Projects", new { controller = "UserProfile", area = "", id = Model.UserProfileID })" title="@Model.ProjectsCompletedLabel @Model.ProjectsCompletedLabel">
                        <span>@Model.ProjectsCompleted</span>
                        @Model.ProjectsCompletedLabel
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Raised", new { controller = "UserProfile", area = "", id = Model.UserProfileID})" title="@Model.DollarsRaised.ToString("C") Raised">
                        <span>@Model.DollarsRaised.ToString("C")</span>
                        Raised
                    </a>
                </li>
                <li class="last">
                    <a href="@Url.Action("Given", new { controller = "UserProfile", area = "", id = Model.UserProfileID})" title="@Model.DollarsGiven.ToString("C") Given">
                        <span>@Model.DollarsGiven.ToString("C")</span>
                        Given
                    </a>
                </li>
            </ul>
            <div class="break"></div>
            @if (Model.CurrentUserIsOwner) {
            <div><a href="#" onclick="javascript:return false;" title="Change My Image" class="user-image-info ui-button ui-corner-all">Change My Image</a></div>
            }
            <div class="@campaignHistoryClass">
                @if (Model.ActiveCampaignCount == 0 && Model.CurrentUserIsOwner) {
                @Html.ActionLink("Launch A New Campaign", "GetStarted", new { controller = "Campaign" }, new { title = "Launch A Campaign", @class = "ui-button ui-corner-all pad-bottom" })
                }
                @if (Model.Campaigns.Count > 0) { 
                <div class="campaign-history">
                <h3>@ownerName Campaign History</h3>
                @Html.Partial("CampaignList", Model.Campaigns)
                </div>
                }
            </div>

            @if (shouldDisplaySidebar) { 
            <aside class="private-info">
                <h3>Account Settings</h3>
                <ul class="tasks">
			        @if (!isConnectedToFacebook) {
			        <li>@Html.ActionLink("Connect to Facebook", "Connect", new { controller = "Facebook", area = "" }, new { title = "Connect to Facebook", @class = "fb-connect" })</li>
                    }
                    @if (isAdministrator) {
                    <li>@Html.ActionLink("Admin Dashboard", "Index", new { Controller = "Admin", Area = "" }, new { Title = "Admin Dashboard" })</li>
                    }
                </ul>
            </aside>
            }
        </section>
        <div class="break"></div>
    </div>
