@model JordanRift.Grassroots.Web.Models.UserProfileDetailsModel
@using JordanRift.Grassroots.Framework.Entities.Models
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = string.Format("{0}'s Profile", Model.FirstName);
}

    <hgroup>
        <h1>@Model.FirstName @Model.LastName's Profile</h1>
    </hgroup>

    <div class="user-profile">
        <section class="public-info">
            <ul class="stats">
                <li class="user-image first">
                    <img src="@Model.ImagePath" alt="@Model.FirstName @Model.LastName" />
                </li>
                <li>
                    <a href="@Url.Action("Projects", new { controller = "UserProfile", area = "", id = Model.UserProfileID })" title="@Model.ProjectsCompletedLabel @Model.ProjectsCompletedLabel">
                        <span>@Model.ProjectsCompleted</span>
                        @Model.ProjectsCompletedLabel
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Raised", new { controller = "UserProfile", area = "", id = Model.UserProfileID})" title="@Model.DollarsRaised.ToString("C") Raised">
                        <span>@Model.DollarsRaised.ToString("C")</span>
                        Raised
                    </a>
                </li>
                <li class="last">
                    <a href="@Url.Action("Given", new { controller = "UserProfile", area = "", id = Model.UserProfileID})" title="@Model.DollarsGiven.ToString("C") Given">
                        <span>@Model.DollarsGiven.ToString("C")</span>
                        Given
                    </a>
                </li>
            </ul>
            <div class="break"></div>
            <div class="campaigns">
                <h4>Want to get involved? @Html.ActionLink("Click here", "GetStarted", new { controller = "Campaign", area = "" }, new { title = "Click here" }) to get started.</h4>
                @if (Model.Campaigns.Count > 0) { 
                <h3>@Model.FirstName's Recent Campaigns</h3>
                @Html.Partial("CampaignList", Model.Campaigns);
                }
            </div>

            @if (Model.CurrentUserIsOwner) { 
            <aside class="private-info">
                <table class="profile-info">
		            <tbody>
                        <tr>
                            <td colspan="2"><h3>@Model.Role</h3></td>
                        </tr>
                        <tr>
                            <td class="heading">Name</td>
                            <td>@Model.FirstName @Model.LastName</td>
                        </tr>
		                <tr>
			                <td class="heading">Email</td>
			                <td><a href="mailto:@Model.Email" title="@Model.Email">@Model.Email</a></td>
		                </tr>
		                <tr>
			                <td class="heading">Phone</td>
			                <td>@Model.PrimaryPhone</td>
		                </tr>
		                <tr>
			                <td class="heading">Address</td>
			                <td>@Model.AddressLine1<br />
				                @if ( @Model.AddressLine2 != null && @Model.AddressLine2 != string.Empty ) {
	   				                @Model.AddressLine2<br />
				                }
				                @Model.City, @Model.State @Model.ZipCode</td>
		                </tr>
		                <tr>
			                <td class="heading">Age</td>
			                <td>@Model.Age</td>
		                </tr>
                        <tr>
			                <td class="heading">Last Visit</td>
			                <td>@Model.LastVisit</td>
		                </tr>
		            </tbody>
	            </table>
                <h3>Account Settings</h3>
                <ul class="tasks">
                    <li>@Html.ActionLink("Edit Details", "Edit", new { Area = "", id = Model.UserProfileID }, new { Title = "Edit Details" })</li>
			        @if (Model.FacebookID == null || Model.FacebookID == "") {
			        <li>@Html.ActionLink("Link to Facebook", "Connect", new { controller = "Facebook", area = "" }, new { title = "Link to Facebook" })</li>
                    }
                    <li>@Html.ActionLink("Change Password", "ChangePassword", new { Controller = "Account", Area = "" }, new { Title = "Change Password" })</li>
                    @if (Model.Active)  { 
                    <li>@Html.ActionLink("Disable Account", "DeactivateAccount", new { Controller = "UserProfile", Area = "" }, new { Title = "Disable Account" })</li>
                    }
                    else {
                    <li>@Html.ActionLink("Activate Account", "ReactivateAccount", new { Controller = "UserProfile", Area = "" }, new { Title = "Activate Account" })</li>
                    }
                    @if (User.IsInRole("Administrator")) {
                    <li>@Html.ActionLink("Admin Dashboard", "Index", new { Controller = "Admin", Area = "" }, new { Title = "Admin Dashboard" })</li>
                    }
                </ul>
            </aside>
            }
        </section>
        <div class="break"></div>
    </div>
