@model JordanRift.Grassroots.Web.Models.UserProfileProjectsModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Index";
}

    <hgroup>
        <h1>Projects @Model.FirstName have helped fund</h1>
        <h3>@Model.Causes.Count() Projects</h3>
    </hgroup>

    @{ var linkText = "Back to " + Model.FirstName + "'s Profile"; }
    @Html.ActionLink(linkText, "Index", new { controller = "UserProfile", area = "", id = Model.UserProfileID })
<section class="donations">
@if ( Model.Causes.Count() > 0 ) {
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Build Date
                </th>
                <th>
                    Area
                </th>
            </tr>
        </thead>
        <tbody>
	    @foreach ( var item in Model.Causes ) { 
		    <tr>
			    <td>
				    @Html.ActionLink( item.Name, "Index", new { controller = "Cause" }, new { title = item.Name } )
			    </td>
			    <td>
				    @String.Format( "{0:MM/dd/yy}", item.DateCompleted ) 
			    </td>
			    <td>
				    @item.Region
			    </td>
		    </tr>
	    }
	    </tbody>
    </table>
}
else { 
	<h3 class="projects">This person hasn't been a part of any completed projects yet.</h3>
}
</section>