@model JordanRift.Grassroots.Web.Models.FacebookRegisterModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Additional Information Is Needed";
}

@section DocumentHead 
{
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>Set Up Your Account</h1>
    <h3>Fill out the form below to create a new account.</h3>
</hgroup>
<div id="facebook-registration-form">
    @using (Html.BeginForm("RegisterUser", "Facebook")) {
        @Html.ValidationSummary(false, "Account creation was unsuccessful. Please correct the errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <fieldset class="column">
            <legend>Account Information</legend>
            @Html.HiddenFor(m => m.FacebookID)
            <dl>
                <dt>@Html.LabelFor(m => m.Email)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
            </dl>
            @if (!string.IsNullOrEmpty(Model.ImagePath)) {
            <img src="@Model.ImagePath" alt="@Model.FirstName @Model.LastName on Facebook" />
            @Html.HiddenFor(m => m.ImagePath)
            }
        </fieldset>
        <fieldset class="column">
            <legend>Information from your Facebook profile</legend>
            <dl>
                <dt>@Html.LabelFor(m => m.FirstName)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.LastName)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.Birthdate)</dt>
                <dd>
                    @Html.EditorFor(m => m.Birthdate)
                    @Html.ValidationMessageFor(m => m.Birthdate, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.Gender)</dt>
                <dd>
                    @Html.EditorFor(m => m.Gender)
                    @Html.ValidationMessageFor(m => m.Gender, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.ZipCode)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.ZipCode)
                    @Html.ValidationMessageFor(m => m.ZipCode, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
            </dl>
            <div class="check-box">
                @Html.EditorFor(m => m.Consent)
                @Html.LabelFor(m => m.Consent)
                @Html.ValidationMessageFor(m => m.Consent, null, new { @class = "ui-state-error ui-corner-all" })
            </div>
            <div>@Html.UiSubmit("Register")</div>
        </fieldset>
    }
</div>