@model JordanRift.Grassroots.Web.Models.DonationDetailsModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "ThankYou";
    ViewBag.UrlToLike = Url.Action("Index", "Campaign", new { slug = Model.UrlSlug }, Request.Url != null ? Request.Url.Scheme : "https");
    var linkText = string.Format("Back to {0}", Model.Title);
}

<hgroup>
    <h1>@Model.FirstName, thank you so much!</h1>
    <h3>Seriously, we &hearts; you! We couldn't do what we do without your generosity!</h3>
</hgroup>
<section>
    <p>You'll be receiving an email receipt shortly. You can either print this page or keep a copy of the email for your recepit.</p>

    @Html.Partial("DonationReceipt")
    <p>@Html.ActionLink(linkText, "Index", new { controller = "Campaign", slug = Model.UrlSlug }, new { title = linkText })</p>
    
    @if (!string.IsNullOrEmpty(Model.UrlSlug)) {
    <h3>Share this with your friends!</h3>
    <ul>
        <li>@Html.Partial("TweetButton")</li>
        <li>@Html.Partial("FacebookLikeButton")</li>
        <li>@Html.Partial("PlusOneButton")</li>
    </ul>
    }
    <div class="break"></div>
</section>

@section DocumentBottom {
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
}