@model JordanRift.Grassroots.Web.Models.AuthorizeModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Activate Your Account";
}

@section DocumentHead {
    @Html.Partial("UIForm")
    <script type="text/javascript">
        $(function () {
            Grassroots.initAccountActivation();
        });
    </script>
}

<hgroup>
    <h1>Account Activation</h1>
    <h3>Hang tight! You should receive an email to activate your account shortly.</h3>
</hgroup>
<section class="account-activation">
    
    <div class="ui-widget ui-state-highlight ui-corner-all">
        <p>
            <span class="ui-icon ui-icon-info"></span>
            <strong>Hey!</strong> If you did not receive an activation email, double check your spam folder. If you're sure you haven't received anything, click the link below to resend it.
        </p>    
    </div>

    <p><a href="#" class="show-activation-form" title="Click here if you didn't receive your activation email">Click here if you didn't receive your activation email</a></p>
    <div class="resend-activation">
        @using(Html.BeginForm("SendAuthorizationNote", "Account")) {
            @Html.AntiForgeryToken("AccountAuthorization")
            @Html.ValidationSummary(true, "We were unable to send your email. Please correct the errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })    
            <fieldset>
                <legend>Account activation</legend>
                <dl>
                    <dt>@Html.LabelFor(m => m.Email)</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "ui-state-error ui-corner-all" })
                    </dd>
                </dl>
                <div>
                    @Html.UiSubmit("Send Activation Email")
                </div>
            </fieldset>
        }
    </div>
</section>
