@model JordanRift.Grassroots.Web.Models.ChangePasswordModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Change your password";
}

@section DocumentHead
{
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>Change Your Password</h1>
    <h3>Please fill out the form below to change your password</h3>
</hgroup>
<p><text>Passwords are required to be a minimum of</text>  @ViewBag.PasswordLength <text>characters in length.</text></p>
<div id="password-change-form">
    @using (Html.BeginForm("SavePassword", "Account")) {
        @Html.AntiForgeryToken("AccountPasswordChange")
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <fieldset>
            <legend>Account Information</legend>
            <dl>
                <dt>@Html.LabelFor(m => m.OldPassword)</dt>
                <dd>
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.NewPassword)</dt>
                <dd>
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.ConfirmPassword)</dt>
                <dd>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
            </dl>                
            <div>
                @Html.UiSubmit("Change Password")
                @Html.ActionLink("Cancel", "Index", new { controller = "UserProfile", area = "" }, new { title = "Cancel", @class = "cancel" })
            </div>
        </fieldset>
    }
</div>