@model JordanRift.Grassroots.Web.Models.ChangePasswordModel
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = "Password Change";
}

@section DocumentHead
{
    @Html.Partial("UIForm")
}

<h1>Change Your Password</h1>

	<p>Use the form below to change your password.</p>
    <p><text>passwords are required to be a minimum of</text>  @ViewBag.PasswordLength <text>characters in length.</text></p>

    @using (Html.BeginForm("UpdatePassword", "Account")) {
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        <div>
            <fieldset>
                <legend>Account Information</legend>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                
                <p>
                    <input type="submit" value="Change Password" />
                </p>
            </fieldset>
        </div>
    }