@model JordanRift.Grassroots.Web.Models.ChangePasswordModel
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = "Password Change";
}

@section DocumentHead
{
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>Change Your Password</h1>
    <h3>Please fill out the form below to change your password</h3>
</hgroup>
<p><text>Passwords are required to be a minimum of</text>  @ViewBag.PasswordLength <text>characters in length.</text></p>
<div id="password-change-form">
    @using (Html.BeginForm("UpdatePassword", "Account")) {
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <fieldset>
            <legend>Account Information</legend>
            <dl>
                <dt>@Html.LabelFor(m => m.OldPassword)</dt>
                <dd>
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.NewPassword)</dt>
                <dd>
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.ConfirmPassword)</dt>
                <dd>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
            </dl>                
            <div>
                @Html.UiSubmit("Change Password")
            </div>
        </fieldset>
    }
</div>