@model JordanRift.Grassroots.Web.Models.ForgotPasswordModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Forgot Password";
}

@section DocumentHead
{
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>Forgot your password?</h1>
    <h3>Type your email below...</h3>
</hgroup>
<div id="reset-password-form">
    @using (Html.BeginForm("ResetPassword", "Account")) {
        @Html.ValidationSummary(true, "Password reset was unsuccessful. Please correct the errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <fieldset>
        <legend>Password Reset</legend>
        <dl>
            <dt>@Html.LabelFor(m => m.Email)</dt>
            <dd>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "ui-state-error ui-corner-all" })
            </dd>
        </dl>
        <div>@Html.UiSubmit("Reset My Password")</div>
        </fieldset>
    }
</div>