@model JordanRift.Grassroots.Web.Models.LogOnModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Log In";
}

@section DocumentHead
{
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>Account Log On</h1>
    <h3><text>Please enter your username and password.</text> @Html.ActionLink("Register", "Register") <text> if you don't have an account.</text></h3>
</hgroup>
<div id="log-on-form">
    @using (Html.BeginForm("AuthenticateUser", "Account", new { returnUrl = ViewBag.ReturnUrl })) {
        <fieldset class="column">
            <legend>Connect with Facebook...</legend>
            <p>Already have your Facebook account connected to @OrganizationName? Click the link below to sign in.</p>
            @Html.ActionLink("Connect with Facebook", "LogOn", new { controller = "Facebook" }, new { @class = "fb-login" })
        </fieldset>
        <fieldset class="column">
            <legend>... Or do it the old-fashioned way.</legend>
                @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
                <div>
                    <dl>
                        <dt>@Html.LabelFor(m => m.Email)</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "ui-state-error ui-corner-all" })
                        </dd>
                        <dt>@Html.LabelFor(m => m.Password)</dt>
                        <dd>
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "ui-state-error ui-corner-all" })
                        </dd>
                    </dl>
                
                    <div class="check-box">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                
                    @Html.UiSubmit("Log On")
                </div>
                <ul class="account-maintenance">
                    <li><p>Don't have an account? @Html.ActionLink("Click here", "Register", new { controller = "Account", area = "" }, new { title = "Click here" }) to sign up.</p></li>
                    <li><p>Forgot your password? @Html.ActionLink("Click here", "ForgotPassword", new { controller = "Account", area = "" }, new { title = "Click here" }) to reset it.</p></li>
                </ul>
        </fieldset>
    }
</div>