@model JordanRift.Grassroots.Web.Models.LogOnModel
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = "Log In";
}

@section DocumentHead
{
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>Account Log On</h1>
    <h3><text>Please enter your username and password.</text> @Html.ActionLink("Register", "Register") <text> if you don't have an account.</text></h3>
</hgroup>
<div id="log-on-form">
    @using (Html.BeginForm("AuthenticateUser", "Account", new { returnUrl = ViewBag.ReturnUrl })) {
        <fieldset class="column">
            <legend>Connect with Facebook...</legend>
            @Html.ActionLink("Connect with Facebook", "LogOn", "Facebook")
        </fieldset>
        <fieldset class="column">
            <legend>... Or do it the old-fashioned way.</legend>
                @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
                <div>
                    <dl>
                        <dt>@Html.LabelFor(m => m.Email)</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "ui-state-error ui-corner-all" })
                        </dd>
                        <dt>@Html.LabelFor(m => m.Password)</dt>
                        <dd>
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "ui-state-error ui-corner-all" })
                        </dd>
                    </dl>
                
                    <div class="check-box">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                
                    @Html.UiSubmit("Log On")
                </div>
        </fieldset>
    }
</div>