@model JordanRift.Grassroots.Web.Models.UpdatePasswordModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Update Your Password";
}

@section DocumentHead {
    @Html.Partial("UIForm")
}

<hgroup>
    <h1>Update your password</h1>
    <h3>Hang tight! You should receive an email to reset your password shortly.</h3>
</hgroup>

<section class="update-password">
    <div class="ui-widget ui-state-highlight ui-corner-all">
        <p>
            <span class="ui-icon ui-icon-info"></span>
            <strong>Hey!</strong> If you did not receive an activation email, double check your spam folder. If you haven't received anything still, submit the form below.
        </p>    
    </div>

    @using (Html.BeginForm("UpdateForgottenPassword", "Account", new { hash = Model.ActivationHash })) { 
        @Html.ValidationSummary(true, "Your pin number does not appear to be valid. Please try again.", new { @class = "ui-widget ui-state-error ui-corner-all" })
        <fieldset>
            <legend>Update your password</legend>
            <dl>
                <dt>@Html.LabelFor(m => m.ActivationPin)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.ActivationPin)
                    @Html.ValidationMessageFor(m => m.ActivationPin, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.Password)</dt>
                <dd>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
                <dt>@Html.LabelFor(m => m.ConfirmPassword)</dt>
                <dd>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "ui-state-error ui-corner-all" })
                </dd>
            </dl>
            <div>
                @Html.UiSubmit("Change My Password")
            </div>
        </fieldset>
    } 
</section>
