@model JordanRift.Grassroots.Web.Models.OrganizationDetailsModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //

    ViewBag.Title = OrganizationTagline;
}

    <div class="dashboard">
        @Html.Action("ProgressBar", new { controller = "Home" })
        <aside class="donate">
            @Html.ActionLink("Get Started", "GetStarted", new { controller = "Campaign" }, new { title = "Get Started", @class = "ui-button ui-corner-all" })
        </aside>
        @Html.Action("Stats", new { controller = "Home" })
    </div>
    <div class="info">
        <div class="video">
            @Html.Raw(Model.VideoEmbedHtml)
        </div>
        <div class="org-summary">
            <p>@Html.Raw(Model.SummaryHtml)</p>
            <ul class="social">
                <li>@Html.Partial("TweetButton")</li>
                <li>@Html.Partial("FacebookLikeButton")</li>
                <li>@Html.Partial("PlusOneButton")</li>
            </ul>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.HomePageHtml)) {
    <div class="home-page-content">
        @Html.Raw(Model.HomePageHtml)
    </div>
    }
    <div class="feeds">
        @Html.Action("TwitterFeed", new { controller = "Home" })
        @Html.Action("BlogRssFeed", new { controller = "Home" })
    </div>

@section DocumentBottom {
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
}