@model JordanRift.Grassroots.Web.Models.OrganizationDetailsModel
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = Model.Name;
}

    <section class="dashboard">
        @Html.ActionLink("Donate", "Index", new { controller = "Donate" }, new { title = "Donate", @class = "ui-button ui-corner-all" })
        @Html.Action("ProgressBar", new { controller = "Home" })
    </section>
    <section class="social">
        <div class="video">
            @Html.Raw(Model.VideoEmbedHtml)
        </div>
        <div class="summary">
            @Model.Summary
        </div>
        <div class="social">
            @Html.Partial("FacebookLikeButton")
            @Html.Partial("TweetButton")
        </div>
    </section>
    <section class="feeds">
        @Html.Action("TwitterFeed", new { controller = "Home" })
        @Html.Action("BlogRssFeed", new { controller = "Home" })
    </section>