@model IEnumerable<JordanRift.Grassroots.Framework.Entities.Tweet>
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = null;
}

@if (Model.Count() > 0) {
    var screenName = Model.First().ScreenName;
<div class="tweets column">
    <h2><a href="http://twitter.com/@screenName" title="Follow @OrganizationName on Twitter" target="_blank">Follow @OrganizationName on Twitter</a></h2>
    <ul>
    @foreach (var tweet in Model) { 
        <li>
            <img src="@tweet.ImageUrl" alt="@tweet.ScreenName" height="48" width="48" />
            <strong><a href="http://twitter.com/@tweet.ScreenName" title="@tweet.ScreenName" target="_blank">@tweet.ScreenName</a></strong>
            <span>@Html.Raw(tweet.Message)</span>
            <span class="meta">@tweet.RelativeDate</span>
        </li>
    }
    </ul>
</div>
}